body {
    background-image: linear-gradient(rgb(226, 223, 220), hwb(34 13% 55%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Landing page*/
.logo1 {
    width: 60%;
    padding-top: 40px;
    padding-bottom: 35px;
}

.home1 {
    display: inline;
    width: 70%;
    padding-right: 0;
    margin-right: 0;
    margin-top: -295px;
    float: right !important;
    display: block !important;
}

.intro {
    width: 40%;
    background-color: #897661 !important;
    color: white;
}

.intro p {
    line-height: 1.2;
    margin-right: 14rem;
}
.intro button{
    margin-right: 14rem;
}
.call-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.call-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.call-btn:hover span {
    padding-right: 25px;
}

.call-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.shade {
    width: 100%;
    margin-top: -90px;
    padding-bottom: 177px;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(transparent, hwb(34 31% 36%), transparent);
    display: none;
}

/*We excel in*/

.we-excel {
    width: 100%;
    background-color: #897661;
    color: white;
    font-size: 100px;
}

.we-excel-list {
    display: inline-flex;
    background-color: #897661;
    padding: 15px;
    margin: 8px;
}

.we-excel-list img {
    width: 120px;
}

.we-excel-list p {
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 25px;
}

/*about us*/
.aboutus {
    display: inline;
}

.aboutus img {
    width: 600px;
}

.img {
    float: left;
    shape-outside: polygon(0 0, 45% 0, 100% 100%, 0 100%);
    margin-right: 2rem;
}

.aboutus h1 {
    color: white;
    text-align: center;
}

.aboutus p {
    padding-top: 20px;
    color: white;
    font-weight: bolder;
    text-align: justify;
    letter-spacing: 2px;
    font-size: larger;
    line-height: 2;
    text-transform: uppercase;
}

/*Contact*/
.contact-list {
    display: flexbox;
    background-color: #897661;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border: 0.1px solid transparent;
    border-radius: 50rem;
    text-transform: uppercase;
}

.contact-list:nth-child(1) {
    margin-right: 25px;
}

.contact-list:nth-child(2) {
    margin-left: 25px;
}

.contact-list img {
    border: 0.1px solid transparent;
    border-radius: 50%;
    margin: 5px;
    width: 90%;
    height: 90%;
}

.contact-list .col {
    padding: 0% !important;
    text-align: center;
}

.contact-list .right {
    display: inline;
    text-align: start;
    vertical-align: middle;
    margin-top: 35px;
}

.contact-list p {
    color: white;
    text-transform: inherit;
    padding: 0%;
    margin: 0%;
}

.contact-list h5 {
    color: white;
    text-transform: inherit;
    padding: 0%;
    margin: 0%;
}

.contact-list button {
    background-color: white;
    color: #897661;
    border-radius: 50rem !important;
    text-transform: inherit;
}

/*Projects*/
.owl-projects {
    text-align: center;
    vertical-align: middle;
}

.owl-projects img {
    width: 500px;
    height: 500px;
}

.owl-projects img:hover {
    transform: skewX(1deg);
    transition-duration: 1s;
}

.projects h4 {
    font-weight: bold;
    font-size: 40px;
}

.projects p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

/*Footer*/
footer {
    background-color: #866c52;
    padding-top: 30px;
}

footer .section-1 .logo {
    width: 150px;
}

footer .section-1 .text {
    padding-top: 40px;
    letter-spacing: 4px;
}

footer .section-1 .social-media {
    display: inline-flex;
}

footer .section-1 .social-media a {
    background-color: #fcfcfb;
    width: 35px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 9px;
}

footer .section-2 a {
    text-decoration: none;
}

footer .section-2 a:hover {
    font-weight: bold;
}

footer .section-2 p {
    margin: 0%;
    line-height: 1.5;
}

footer .section-3 p {
    margin: 0%;
    line-height: 1.5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo1 {
        width: 100%;
    }

    .home1 {
        width: 90%;
        margin-top: 0px;
        float: none !important;
        display: none !important;
    }

    .intro {
        width: 100%;
        background-color: transparent !important;
    }

    .intro p {
        line-height: 1.5;
        letter-spacing: 4px;
        font-size: large;
        margin-right: 7rem;
    }

    .intro button{
        margin-right: 7rem;
    }

    .we-excel {
        font-size: 60px;
    }

    .aboutus img {
        width: 240px;
    }

    .aboutus p{
        font-weight: bold;
        letter-spacing: 1.2px;
        font-size: 10.5px;
        line-height: 1.4;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo1 {
        width: 80%;
        margin-left: 55px;
    }

    .home1 {
        width: 90%;
        margin-top: 0px;
        float: none !important;
        display: none !important;
    }

    .intro {
        width: 100%;
        background-color: transparent !important;
    }

    .intro p {
        line-height: 1.5;
        letter-spacing: 4px;
        font-size: large;
        margin-right: 7rem;
    }

    .intro button{
        margin-right: 7rem;
    }

    .we-excel {
        font-size: 70px;
    }

    .aboutus img {
        width: 460px;
    }

    .aboutus p {
        font-weight: bold;
        letter-spacing: 1.2px;
        font-size: 13.5px;
        line-height: 1.4;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .logo1 {
        width: 60%;
    }

    .home1 {
        width: 70%;
        margin-top: -278px;
        float: right !important;
        display: block !important;
    }

    .intro {
        width: 35%;
        background-color: #897661 !important;
    }

    .intro p, .intro button {
        margin-right: 3rem;
    }

    .we-excel {
        font-size: 80px;
    }

    .aboutus img {
        width: 550px;
    }

    .aboutus p {
        font-weight: bold;
        letter-spacing: 1.2px;
        font-size: 17px;
        line-height: 1.4;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .logo1 {
        width: 60%;
    }

    .home1 {
        width: 70%;
        margin-top: -300px;
        float: right !important;
        display: block !important;
    }

    .intro {
        width: 40%;
        background-color: #897661 !important;
    }

    .intro p, .intro button {
        margin-right: 7rem;
    }

    .we-excel {
        font-size: 100px;
    }

    .aboutus img {
        width: 580px;
    }

    .aboutus p {
        font-weight: bolder;
        letter-spacing: 1.5px;
        font-size: larger;
        line-height: 1.7;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .logo1 {
        width: 60%;
    }

    .home1 {
        width: 70%;
        margin-top: -475px;
        float: right !important;
        display: block !important;
    }

    .intro {
        width: 45%;
        background-color: #897661 !important;
    }

    .intro p, .intro button {
        margin-right: 14rem;
    }

    .we-excel {
        font-size: 110px;
    }

    .aboutus img {
        width: 600px;
    }

    .aboutus p {
        font-weight: bolder;
        letter-spacing: 2px;
        font-size: larger;
        line-height: 2;
    }
}

/*Animation*/
.fadeInUp {
    visibility: visible !important;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUpFast;
}

.fadeInUp-s {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.fadeInUp-m {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.fadeInUp-x {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUpFast {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}